* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* Gradient background */
    background: linear-gradient(to bottom right, #000000, #414141);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ui {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container-left,
.container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.radio-buttons label {
    margin-right: 20px;
    font-weight: normal;
}

#submit {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #45a049;
}

.output {
    padding: 20px;
    text-align: center;
}

.output h2 {
    margin-bottom: 10px;
    color: #333;
}

.output p {
    font-size: 18px;
    color: #333;
}